body{
    margin: 0;
    padding: 0;
}

.cupom{
    background-color: #e6e6e6;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}


.cupomlux {

    margin-left: 10px; 
    font-weight: bold;
    border: black 1px dashed;

}