@font-face {
    font-family: Modern;
    src: url(../fontes/ModesticSans-Bold.ttf);
}

body{
    margin: 0;
    padding: 0;
}

.cupom{
    background-color: #e6e6e6;
    width: 100vw;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.cupomlux {
    margin-left: 10px; 
    font-weight: bold;
    border: black 1px dashed;
} 

.TenisContainer {
    display: flex;
    align-items: flex-start;
    margin-left: 25px;
}

.TenisPrincipal img {
    width: 100%;
    height: auto;
}

.TenisImgs:hover {
    background-color: #b5b5b541;
}

.TituloProduto{
    margin-right: 300px;
    color: rgb(118, 118, 118);
}
