:root {
  --cor-w: #ffffff;
  --cor-b: #000;
  --cor-0: #F4F4EC;
  --cor-1: #EDE8F5;
  --cor-2: #B9B9B9;
  --cor-3: #8B8B8B;
  --cor-4: #677079;
  --cor-5: #686868;
  --cor-6: #373737;
  --cor-7: #2D2D2D;
  --cor-8: #161616;
  --cor-r1: #786F9E;
  --cor-r2: #B49AC1;
  --cor-r3: #ADA2CD;
  --cor-a: #8EA9BA;
  --cor-v: #6B877B;
}

.cor-white {
  color: var(--cor-w);
}
.cor-black {
  color: var(--cor-b);
}
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}

.cor-r1 {
  color: var(--cor-r1);
}
.cor-r2 {
  color: var(--cor-r2);
}
.cor-r3 {
  color: var(--cor-r3);
}
.cor-a {
  color: var(--cor-a);
}
.cor-v {
  color: var(--cor-v);
}
