.especificacao{
  padding-top: 60px;
  padding-bottom: 60px;
}


  .especificacao ul{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.especificacao-item{
  display: flex;
  gap: 16px;
  text-transform: uppercase;
}

@media (max-width:800px){
  .especificacao ul{
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .especificacao {
    display: flex;
    justify-content: center;
  }

  .especificacao ul {
    grid-template-columns: 1fr;
  }
}
